<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->
<!-- wp:pattern {"slug":"events/hero-home-default"} /-->
<!-- wp:pattern {"slug":"events/categories"} /-->
<!-- wp:pattern {"slug":"events/brand-banner"} /-->
<!-- wp:pattern {"slug":"events/features"} /-->
<!-- wp:pattern {"slug":"events/featured-listings"} /-->
<!-- wp:pattern {"slug":"events/cta-banner"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->