<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->
<!-- wp:pattern {"slug":"events-directory/hero-home-default"} /-->
<!-- wp:pattern {"slug":"events-directory/categories"} /-->
<!-- wp:pattern {"slug":"events-directory/brand-banner"} /-->
<!-- wp:pattern {"slug":"events-directory/features"} /-->
<!-- wp:pattern {"slug":"events-directory/featured-listings"} /-->
<!-- wp:pattern {"slug":"events-directory/cta-banner"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->
